################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Store.api/.vs
/Store.api/Store.AccessData/obj
/Store.api/Store.Service/obj
/Store.api/Store.Models/obj
/Store.api/Store.DataBase/bin/Debug
/Store.api/Store.DataBase/obj/Debug
/Store.api/Store.DataBase/Store.DataBase.jfm
/Store.api/Store.DataBase/Store.DataBase.dbmdl
/Store.api/Store.AccessData/bin/Debug/net5.0
/Store.api/Store.api/bin/Debug/net5.0
/Store.api/Store.Service/bin/Debug/net5.0
/Store.api/Store.api/bin/Release/net5.0
/Store.api/Store.api/obj/Debug/net5.0
/Store.api/Store.AccessData/bin/Release/net5.0
/Store.api/Store.Service/bin/Release/net5.0
